<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/add-product">Add Products</a></li>
    </nav>
    <form action="/products" method="POST">
      <input type="text" name="title" />
      <button type="submit">Submit-ejs</button>
    </form>
  </body>
</html>
