<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/add-product">Add Products</a></li>
    </nav>
    <h1><%= status %> Page Not Found From EJS</h1>
  </body>
</html>
